body {
	padding-top: 60px;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.setup-page th, .setup-page td {
	padding: 3px 10px;
}

.setup-page .tcp-connect-btn {
	padding: 2px;
	text-align: center;
}

.setup-page {
	margin-bottom: 20px;
}

/* Map */
#map {
	min-height: 600px;
}


.hidden {
	display: none !important;
}